@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  text-align: center;
  color: #0c4fe1;
  height: 100%; 
}

h1 {
  color: #EABE3F;
  padding: 50px;
  font-size: 40px;
}

.container {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.container2 {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.textosuperior {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color:black;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.pregunta {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.pregunta2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.msj {
  font-size: 15px;
  height: 15px;
  border-radius: 10px; /* Cambiar la forma del borde */
  padding: 10px; /* Añadir un espaciado interno al mensaje */
  margin-top: 10px; /* Agregar margen superior */
}

.msj.correcto {
  background-color: green; /* Cambiar el color de fondo para el mensaje "Correcto" */
  color: white; /* Cambiar el color del texto para el mensaje "Correcto" */
}

.msj.incorrecto {
  background-color: red; /* Cambiar el color de fondo para el mensaje "Incorrecto" */
  color: white; /* Cambiar el color del texto para el mensaje "Incorrecto" */
}

.message-container {
  margin-top: 20px;
}

.number-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  position: relative;
}

.bar {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
}

.number {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.number:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background-color: #000;
}

.selected {
  background-color: #0c4fe1;
  color: #fff;
}


#start-button,
#play-again-button {
  background-color: #4285f4;
  border: 2px solid #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#start-button:hover,
#play-again-button:hover {
  background-color: #3367d6;
}

@media (max-width: 768px) {
  .container, .container2 {
    max-width: 80%; /* Ancho completo en dispositivos móviles */
    flex-wrap: wrap; /* Permitir envolver las imágenes en múltiples líneas */
  }

  
.pregunta {
    font-size: 30px;
}
.pregunta2 {
  font-size: 25px;
}
.number-line {
  width: 225px; 
  margin: 15px auto; /* ajustar el margen proporcionalmente */
}

.number {
  width: 30px; 
  height: 30px; 
  font-size: 15px; 
  margin-top: 7.5px; 
}

.number:before {
  top: -10.5px; 
  height: 15px; 
}

.bar {
  height: 1.5px; 
}

}